body {
	display: block;
	position: relative;	
	font-family: 'Noto Serif', serif;
}

span {
	width: 100%;
	display: block;
	margin: 1em auto;
}

ul {
	list-style-type: none;
}

.hold {
	padding: 3em;
	font-size: 24pt;
}

.hold_links {
	padding-left: 0;

}

.hold_links li {
	display: inline-block;
	width: auto;
	margin-right: 1em;
}

.about {
	font-size: 18px;
	padding: 5em;
}

.about_headshot {
	display: block;
	width: 400px;
	float: left;
}

.about_details {
	display: block;

}

a {
	text-decoration: none;
	color: #366c95;
	transition: color 150ms ease-in-out;
}

a:hover {
	color: #333;
}

@media only screen and (max-device-width: 830px), (max-width: 830px)
{
	.hold_links li {
		width: 100%;
	}

	.about_headshot {
		float: clear;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-device-width: 830px)
{
	.hold {
		padding: 1em;
		font-size: 36pt;
	}

	span {
		margin: 2em auto;
	}
}

