#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_4 {
  rotation: 90.0;
  margin-left: 308px;
  margin-top: -309px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_20 {
  rotation: 90.0;
  margin-left: 14px;
  margin-top: -15px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_21 {
  rotation: 90.0;
  margin-left: 14px;
  margin-top: -15px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_22 {
  rotation: 90.0;
  margin-left: 162px;
  margin-top: -162px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65) ;
  filter: alpha(opacity=65) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}