#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_66 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Ellipse_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FC0F3B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FC0F3B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FC0F3B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FC0F3B;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Ellipse_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FC0F3B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FC0F3B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FC0F3B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FC0F3B;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_124 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_5 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_98 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_16 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_109 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_110 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_111 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_112 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_113 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_114 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_115 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_116 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_117 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_118 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_119 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_120 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_121 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_122 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_123 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_93 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Button_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 92px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_33 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Button_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 92px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Button_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 5px 5px 5px 5px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 92px;
  height: 21px;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC0F3B;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FC0F3B;
  -ms-transform: rotate(90.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  border-radius: 14px 14px 14px 14px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: alpha(opacity=65);
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-0d779d46-991a-4162-8c8f-53fec74b125d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}