#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_127 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_124 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_208 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_166 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_167 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_168 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_169 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_170 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_171 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_174 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_175 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_176 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_177 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_178 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_179 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_180 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_181 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_183 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_184 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_185 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_186 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_187 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_188 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_189 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_190 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_191 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_192 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_193 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_194 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_195 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_196 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_197 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_198 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_199 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_200 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_201 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_202 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_203 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_207 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_27 {
  rotation: 90.0;
  margin-left: 374px;
  margin-top: -374px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_136 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_137 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_138 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_139 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_140 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_141 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_142 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_143 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_144 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_145 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_146 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_147 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_148 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_151 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_152 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_154 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_155 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_156 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_157 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_158 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_159 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_160 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_161 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_162 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_163 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_164 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_165 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_131 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_132 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_25 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_133 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_134 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_27 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_135 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_28 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_130 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_29 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_30 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_128 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_34 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_35 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_24 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 69px;
  margin-top: -70px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_37 {
  rotation: 90.0;
  margin-left: 238px;
  margin-top: -239px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_22 {
  rotation: 90.0;
  margin-left: 224px;
  margin-top: -224px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65) ;
  filter: alpha(opacity=65) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_209 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_210 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_211 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_212 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_213 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_214 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_215 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_217 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_218 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_219 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_220 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_216 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_221 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_222 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_223 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_224 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_225 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_226 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_39 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_227 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_40 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_228 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_229 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_48 {
  rotation: 90.0;
  margin-left: 27px;
  margin-top: -28px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_230 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_231 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_232 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_233 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_45 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_109 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_116 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_117 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_118 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_119 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_120 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_123 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_238 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_243 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_244 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_245 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_47 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_234 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_235 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_236 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_237 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_239 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_240 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_46 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_241 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_49 {
  rotation: 90.0;
  margin-left: 3px;
  margin-top: -4px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_242 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Text_246 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Line_50 {
  rotation: 90.0;
  margin-left: 27px;
  margin-top: -28px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#simulation {
  overflow-y: hidden;
}
#s-9eefd7e9-68bc-4bb5-bae3-3ce4bc1fdeb8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}