#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Image_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Image_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_35 {
  rotation: 90.0;
  margin-left: 4px;
  margin-top: -5px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_238 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_243 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_244 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_245 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ab894edb-4dc0-4fd6-8895-7ca433da18e0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}