#s-fd626c0b-d4c9-40c7-9205-49120611f7cf #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fd626c0b-d4c9-40c7-9205-49120611f7cf #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #06A6D8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #06A6D8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #06A6D8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #06A6D8;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 166px;
  height: 52px;
  -ms-transform: rotate(0.0deg);
}
#s-fd626c0b-d4c9-40c7-9205-49120611f7cf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}