@font-face {
  font-family: "Cinzel-Bold";
  src: url("../fonts/Cinzel-Bold.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Cinzel-Bold.woff") format("woff"), 
       url("../fonts/Cinzel-Bold.ttf")  format("truetype"),
       url("../fonts/Cinzel-Bold.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Regular.woff") format("woff"), 
       url("../fonts/Roboto-Regular.ttf")  format("truetype"),
       url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
}